body
{
    font-family:Roboto;
    background: black;
    margin:0;
    padding:0;
    opacity: 1;
    transition: 1s opacity;
}


/*Nav Menu*/
nav{
    position:fixed;
    float:left;
    width:12%;
    height:100%;
    position: fixed;
    font-size:18px;
    background-color:white;
    margin:0;
    padding:0;
    z-index: 5;
}
ul{
    list-style-type:none;
}
li{
    margin-left:8%;
}
a{
    text-decoration:none;
    color:black;
    display:inline-block;
    background-color:white;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.35s;
    padding:2px;
    padding-left:6px;
    padding-right:6px;
    font-weight:300;
    margin-left:5%
}
a:hover{
    background-color:black;
    color:white;
    background-position:left bottom;
    font-weight:300;
}
.pageSelector{
    font-weight:500;
    margin-left:0%
}
.logo{
    -webkit-transition-delay:5s;
    -webkit-transition:0.8s;
    transition: 1s;
    width:100%;
}
.logo:hover{
    -webkit-transition-delay:0.5s;
    -webkit-transition:0.8s;
    transition: 1s;
    -webkit-filter:invert(100%)
    
}

/*Content*/
.contentWrapper{
    position:absolute;
    width:88%;
    margin-left:12%;
    -webkit-perspective: 300px;
    perspective: 300px;

}
.contentSection{
    width:90%;
    padding-left:5%;
    padding-right:5%;
    margin-top:500px;
    background-color:rgba(0, 0, 0, 0.80);
    min-height:600px;
    color:white;
}
.splash{
    font-weight:400;
    font-size:300px;
    text-align:center;
    margin:auto;
    margin-top:140px;
}
h1{
    font-weight:400;
    font-size:28px;
}
.title{
    font-weight:300;
    padding-top:80px;
    font-size:48px;
}
.conCenter{
    font-weight:300;
    width:90%;
    text-align:center;
    align-content:center;
    margin:auto;
}
.conLeft{
    font-weight:300;
    width:45%;
    float:left;
}
.conRight{
    font-weight:300;
    width:45%;
    float:right;
}

/*parallax*/
.pFront{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.pBack{
    -webkit-transform: translateZ(-600px) scale(1);
    transform: translateZ(-600px) scale(1);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
  .parallax {
    height: 100vh;
    /*Overflow breaks page anchor animations*/
    overflow-x: hidden;
    overflow-y: auto;

    -webkit-perspective: 1px;
    perspective: 1px;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
    z-index:-1;
  }

    .parallax__layer--fore {
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    z-index:1;
    transform:scale(0.5);
  }

/*Filter*/
.filter{
    -webkit-filter: blur(20px);
    width:100%;
    height:100%;
}

/*launch screen*/
